body {
    background-color: #212121;
}
header, section, aside, footer {
    margin: 0 1.5% 24px 1.5%;
}

textarea {
    background-color: white;
    padding: 15px 15px;
    resize: none;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 8px;
    margin: 10px 0px 7px 0px;
    width: 100%;
    border: none;
    height: 120px;

}
textarea:focus,.feed-update-btn{
    outline: 0;
}

.feed-container{
    height: 130px;
}
.feed-update-btn{
    background-color: #34495e;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 80px;
    left : 89%;
}

.feed-update-btn:hover {
    background-color: #313b46;
    color: white;
}

.show-feed-container{
    border-radius: 3px;
    overflow-y: auto;
    height: 80%;
    position: relative;
    top: 10px;
}

.feed-title{
    color : black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    width: 95%;
}
.feed-card{
    font-family: sans-serif;
    background-color: white;
    border-radius: 8px;
    display: block;
    color: white;
    padding: 25px 20px;
    margin: 9px 0px 0px 0px;
    font-size: 14px;
}
.feed-date{
    float: right;
    margin: 0px;
    color : black;
}
section{
    display: inline-block;
    width: 46%;
}

.feed-edit,.feed-delete{
    float: right;
}
.feed-edited{
	margin: 0px;
    color: grey;
    position: relative;
    top: 12px;
}
.feed-delete{
    background-image: url(/assets/image/trash-icon.png);
    background-repeat: round;
    width: 20px;
    height: 20px;
    border: none;
    display: none;
}
.feed-card:hover .feed-delete{ 
    display:block;
    cursor: pointer;
 }
 
